*{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hide;
}

.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  overflow: hidden;
}
.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1{
  margin: 20px 0;
}
.image-container{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hide;
}
.image-container img{
  width: 100%;
}